<!DOCTYPE html>
<html>
  <head>
    <title>University Registrar!!!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/bootstrap.min.css' type="text/css">
    <link rel='stylesheet' href='/app.css' type="text/css">
  </head>
  <body>
    <div class='container'><br>
      <h3>Registrar</h3>

        #parse( $template )

    </div>
    <footer>
      <a href='/'><button type="button" class="btn btn-info">Home</button></a>
      <a href='/authorList'><button type="button" class="btn btn-info">Author List</button></a>
      <a href='/bookList'><button type="button" class="btn btn-warning">Book List</button></a>
    </footer>
  </body>
</html>
